* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  /* background-image: url("img/time.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: "digital-7";
  src: url("Fonts/digital-7.ttf") format("truetype");
}

.container {
  display: flex;
  overflow: hidden;
  width: 370px;
  height: 370px;
  padding: 10px;
  background-color: #1b7b72;
  flex-direction: column;
  font-size: 25px;
  align-items: center;
  border-radius: 50%;
  border: 15px solid #000000a1;

}

.screen {
  display: flex;
  font-family: Digital-7;
  height: 110px;
  width: 200px;
  background-color: #1b7b72;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#decrease-time {
  border-radius: 50% 0% 0% 50%;
  width: 50px;
}
#add-time {
  
  border-radius: 0% 50% 50% 0%;
  width: 50px;
}

.resetBtn {
  display: none;
  top: 34vh;
  text-align: center;
  justify-content: center;
  width: 44vh;
  height: 50px;
  margin-top: 10px;
}
.startBtn {
  top: 34vh;
  text-align: center;
  justify-content: center;
  width: 44vh;
  height: 50px;
}

.changeColor {
  background: linear-gradient(
    to top,
    #80006b9f 0%,
    rgba(156, 45, 138, 0.767),
    rgba(43, 0, 255, 0.61),
    rgba(43, 0, 255, 0.61) 50%,
    rgba(43, 0, 255, 0.61) 100%
  );
  background-size: 100% 200%;
  overflow: hidden;
  animation: changeColor 60s linear ;
}

.speed10X {
  width: 10%;
}

@keyframes changeColor {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 200%;
  }
}

@keyframes unset-changeColor {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
